<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <form method="POST">
    {% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
		    {{ form.username.errors }}
		    <label for="{{ form.subject.id_for_label }}">Username:</label>
		    {{ form.username }}
		</div>
		<div class="fieldWrapper">
		    {{ form.password.errors }}
		    <label for="{{ form.message.id_for_label }}">Password:</label>
		    {{ form.password }}
		</div>
		<div class="fieldWrapper">
		    {{ form.email.errors }}
		    <label for="{{ form.sender.id_for_label }}">Email:</label>
		    {{ form.email }}
		</div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>

