<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>
  {% for error in error %}
  <p style="color: red;">{{ error }}</p>
  {% endfor %}
  <form action="/books/search/" method="get">
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>
</body>
</html>